.container {
    overflow-y: scroll;
    height: 80%;
}

.data {
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.card_info {
    position: relative;
    border-radius: 25px;
    background-color: var(--card-info-back);
    background-color: #212528;
    height: 120px;
    padding: 20px 0px;
    border: 1px solid #3e4245;
}

.color {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border-radius: 22px 0 0 22px;
    transition: 0.3s ease all;
}

.card_info:hover .color {
    width: 100%;
    border-radius: 25px;
}