.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.filter_wrapp {
    position: sticky;
    width: 300px;
}

.sticky {
    position: sticky;
    top: 3%;
}

.search_title {
    margin-bottom: 10px;
}

.no_projects {
    border:1px solid rgba(var(--foreground-rgb), 0.1);
    width: 100%;
    min-height: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animation_search {
    height: 20%;
}

.search_no_found {
    text-align: center;
}

.projects {
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.projects:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(var(--foreground-rgb), var(--border-opacity));
    // border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    cursor: pointer;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}
  

.card > .content {
    background-color: rgb(var(--background));
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    position: absolute;
    z-index: 2;
}


/* Card project info container */
.card_image {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 60%;
}
  
.card_image > .img_project {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info_wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card_info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.card_info_title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card_info_title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

.card_description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(136, 136, 136);
}

@media screen and (max-width: 998px) {
    .wrapper {
        flex-direction: column;
    }
    .projects {
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
    .filter_wrapp {
        width: 100%;
    }
    .search_title {
        text-align: center;
    }
}
