/* container */
.skill_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 20px;
}

/* skill card container */
.skill_card {
    border-radius: 12px;
    border: 1px solid rgb(var(--border));
    transition: 0.3s ease all;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    background:var(--container-bg);
}

.skill_card:hover {
    border: 1px solid var(--border-hover);
}

/* header */
.header {
    text-align: center;
}

/* icons */
.icons {
    filter: grayscale(.5);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.icons > svg {
    height: 100px;
    width: 100%;
    margin: 10px 0;
}

.skill_card:hover > .icons {
    filter: grayscale(0);
}