@font-face {
  font-family: 'Anurati';
  src: url('/fonts/Anurati-Regular.otf');
}

:root {
  /* Themes */
  --background: 253, 253, 253;
  --foreground-rgb: 19, 19, 26;
  --border-opacity: 0.2;
  --blur-header: hsla(0,0%,100%,.8);
  --icons: invert(0);
  /* themes on sections cards */
  --background-wrap: linear-gradient(207deg, rgb(246, 251, 255) 0%, rgb(232, 232, 232) 100%);
  --card-info-back: rgb(213, 213, 213);
  --border-light: 227, 227, 227;
  --bg-small: 243 246 247;

  /* color text gradients */
  --gradient-title: -webkit-linear-gradient(180deg, #000000, #131313);

  /* Texts colors */
  --accents-8: #111;
  --accents-7: #333;
  --accents-6: #444;
  --accents-5: #666;
  --accents-4: #888;
  --accents-3: #999;
  --accents-2: #eaeaea;
  --accents-1: #fafafa;

  --gradients: linear-gradient(60deg, #101010, #595959);
  
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: 'Anurati', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}


:root[data-theme='dark']{
  --background: 17 18 25;
  --foreground-rgb: 255, 255, 255;
  --border-opacity: 0.2;
  /* --blur-header: hsla(0, 0%, 5%, 0.8); */
  --blur-header: hsl(233deg 19% 8% / 80%);
  --icons: invert(0);
  /* themes on sections cards */
  --background-wrap: linear-gradient(207deg, rgb(46, 48, 49) 0%, rgb(29, 29, 29) 100%);
  --card-info-back: rgb(57, 57, 57);
  --border-light: 43, 43, 43;
  --bg-small: 46, 48, 49;
  
  /* color text gradients */
  --gradient-title: -webkit-linear-gradient(180deg, #ffffff, #ededed);

  /* Texts colors */
  --accents-8: #fafafa;
  --accents-7: #dcdcdc;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;

  --gradients: linear-gradient(60deg, #e9e9e9, #c8c8c8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
