.wrapper {
    display: grid;
    grid-template-columns: 65% auto;
    width: 90%;
    margin-inline: auto;
    
    gap: 20px;
    // background: blue;
}

.personal_info {
    position: relative;
    max-height: 550px;
    max-width: 750px;
}

.contacto {
    // background-color: aqua;
}

.avatar {
    width: 100%;
    height: auto;
    background-color: aqua;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
    }

    // .personal_info {
    //     position: relative;
    //     height: 300px;
    //     max-width: 750px;
    //     margin-bottom: 50px;
    // }
}
