.section {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    align-items: center;
}

.title {
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    text-align: center;
    background: var(--gradient-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    display: grid;
    grid-template-columns: 65% auto;
    width: 90%;
    margin-inline: auto;
    
    gap: 20px;
    // background: blue;
}

.personal_info {
    position: relative;
    max-height: 550px;
    max-width: 750px;
}

.avatar_wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 250px;
    height: 250px;
    background-color: aqua;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.title_description {
    text-align: center;
    margin-bottom: 10px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

.icon {
    margin-right: 6px;
}

.email_wrapper {
    display: flex;
    align-items: center;
}

.phone_wrapper {
    display: flex;
    align-items: center;
}

.social_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_link {
    font-size: var(--p-fs-body-text);
}

.curriculum {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
    }
}
