.section {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    align-items: center;
}

.title {
    margin-bottom: 40px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    text-align: center;
    background: var(--gradient-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    display: grid;
    grid-template-columns: 65% auto;
    width: 90%;
    margin-inline: auto;
    
    gap: 20px;
    // background: blue;
}

.personal_info {
    position: relative;
    max-height: 550px;
    max-width: 750px;
}

.avatar_wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 250px;
    height: 250px;
    background-color: aqua;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.title_description {
    text-align: center;
    margin-bottom: 10px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

.icon {
    margin-right: 6px;
}

.email_wrapper {
    display: flex;
    align-items: center;
}

.phone_wrapper {
    display: flex;
    align-items: center;
}

.social_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_link {
    font-size: var(--p-fs-body-text);
}

.curriculum {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
    }
}


/* folder container */
.info_personal {
    // height: 80svh;
    // min-height: 500px;
    // max-height: 550px;
    position: relative;
}

.wrapper_container {
    // position: relative;
    // top: 7%;
    // left: -1%;
}

/* folder design */
.folder {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: auto;
    object-fit: contain;
    z-index: -10;
}

/* second paper effect */
.slider {
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    position: relative;
    width: 100%;
}
.letter {
    background: #ededed;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 100%;
    color: #000;
}
.letter p {
    color: #000;
}
.paper_back, .paper_back2 {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.paper_back {
    background: #969696;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}
.paper_back2 {
    background: #616161;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}


