.tab_wrapper {
    padding: 1.6rem;
    overflow-y: scroll;
    height: 80%;
}

.content {
    border: 1px solid rgb(var(--border-small));
    background: rgb(var(--bg-small));
    padding: 16px;
}

.description {
    margin-bottom: 10px;
}

.info_personal {
    margin-bottom: 10px;    
}

.list::before {
    content: '✦';
}

.experience {
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
}

.content_question {
    padding: 10px 0;
    border-top: 3px solid rgb(var(--tertiary-color), 1);
    position: relative;

    transition: max-height .5s ease-out;
    overflow: hidden; /* Hide the rest of the content */
}

.content_question:last-child {
    border-bottom: 3px solid rgb(var(--tertiary-color), 1);

}

.question {
    cursor: pointer;
    width: 80%;
}

.content_question[open] > .question {
    margin-bottom: var(--space-12);
}

.question:after {
    content: '+';
    border-width: .4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(0);
    transition: .25s transform ease;
    z-index: 0;
}

.content_question[open] > .question:after  {
    transform: rotate(45deg);
}

.answer {
    margin-bottom: var(--space-10);
    // animation: 3s infinite alternate slidein;
}

@keyframes details-show {
    from {
        max-height: 4rem;
    }
    to {
        max-height: 820px;
    }
}

.content_question[open] {
    animation: details-show 1s ease-in-out;
}