.container {
    padding: 20px;
    overflow-y: scroll;
    height: 80%;
}

/* width */
.container::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .container::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .container::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.data {
    border: 1px solid rgb(var(--border-small));
    background: rgb(var(--bg-small));
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    padding: 16px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icon {
    width: 80%;
    filter: grayscale(1);
    transition: 0.2s ease-in all;
}

.icon:hover {
    filter: grayscale(0);
}

.title {
    display: block;
}

.skillbar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgb(0,0,0,.1);
}

.skillper {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: rgb(var(--secondary));
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.tooltip {
    position: absolute;
    right: -14px;
    top: -20px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(var(--secondary));
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(var(--secondary));
    transform: translateX(-50%)rotate(45deg);
}

@media screen and (max-width: 599px) {
    .data {
        grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    }
}

// .data {
//     width: 90%;
//     margin-inline: auto;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 16px;
// }

// .card_info {
//     position: relative;
//     border-radius: 25px;
//     background-color: var(--card-info-back);
//     background-color: #212528;
//     height: 120px;
//     padding: 20px 0px;
//     border: 1px solid #3e4245;
// }

// .color {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 10%;
//     height: 100%;
//     border-radius: 22px 0 0 22px;
//     transition: 0.3s ease all;
// }

// .card_info:hover .color {
//     width: 100%;
//     border-radius: 25px;
// }

