/*container*/
.avatar_wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.title_description {
    text-align: center;
    margin-bottom: 10px;
}

.contact_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    margin: 16px 0;
}

.email_wrapper > p {
    margin: 0 3px;
}

.copy {
    background: rgb(var(--acent-blue-color));
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.email_wrapper {
    display: flex;
    align-items: center;
}

.phone_wrapper {
    display: flex;
    align-items: center;
}

.social_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_link {
    font-size: var(--p-fs-body-text);
}

.curriculum {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* folder-papper */
.letter {
    background: #ededed;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 100%;
    color: #000;
}

.letter p {
    color: #000;
}

.letter:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 37px 37px 0;
  border-color: #ddd rgb(157, 157, 157);
  transition: all ease .5s;
}

/*
  on li hover make paper fold larger
*/
.letter:has(.btn_control:hover):before
{
  border-width: 0 100px 100px 0;
  border-color: #ddd rgb(157, 157, 157);
}

.list::before {
  content: '✦';
  margin-right: 5px;
}

/* Controls */
.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.btn_control {
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
}

.btn_control:hover {
    color: rgba(0, 0, 0, 0.693);
}

.btn_control:hover > p {
    color: rgba(0, 0, 0, 0.693);
}

.selected {
    display: none;
}

/* About Me */
.description {
    margin-bottom: 10px;
}

.info_personal {
    margin-bottom: 10px;
}

.info_personal > ul > li:not(li:last-child) {
    margin-bottom: 3px;
}

.subtitle {
    color: rgb(19, 19, 26);
    font-weight: 400;
    margin-bottom: 5px;
}

.english {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.english > p {
    margin-right: 5px;
}
