/*container*/
.avatar_wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.title_description {
    text-align: center;
    margin-bottom: 10px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

.icon {
    margin-right: 6px;
}

.email_wrapper {
    display: flex;
    align-items: center;
}

.phone_wrapper {
    display: flex;
    align-items: center;
}

.social_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_link {
    font-size: var(--p-fs-body-text);
}

.curriculum {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* folder-papper */
.letter {
    background: #ededed;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 100%;
    color: #000;
}

.letter p {
    color: #000;
}

.letter:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 37px 37px 0;
  border-color: #ddd rgb(157, 157, 157);
  transition: all ease .5s;
}

/*
  on li hover make paper fold larger
*/
.letter:hover:before {
  border-width: 0 100px 100px 0;
  border-color: #ddd rgb(157, 157, 157);
}


/* About Me */

.list::before {
  content: '✦';
  margin-right: 5px;
}

/* Controls */
.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.btn_control {
    background: rgb(var(--blue-rgb));
    display: flex;
    align-items: center;
    padding: 14px 8px;
}

.btn_control:hover {
    background: rgb(var(--acent-blue-color));
}

.selected {
    display: none;
}
