.tab_wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg,  rgb(var(--secondary)), rgb(var(--complementary)), rgb(var(--complementary)), rgb(var(--tertiary)));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 93%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tab_wrapper .folder {
    // position: absolute;
    background: var(--background-wrap);
    // top: 2px;
    // left: 2px;
    margin-left: 2px;
    margin-top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 93%);
    // padding: 20px;
}