.footer {
    background: var(--background-wrap);
    color: rgb(var(--neutral-white));
}

.wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.title_footer {
    margin-bottom: 16px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
}
