.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner_img {
    width: 100%;
    height: 100svh;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
  
  .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  
    mask-image: radial-gradient(
      white 0%,
      white 30%,
      transparent 80%,
      transparent
    );
  }
  
  .circle_container {
    $particleNum: 200;
    $particleColor: hsl(180, 100%, 80%);
  
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    .circle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(
        hsl(180, 100%, 80%),
        hsl(180, 100%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );
  
      animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  
      @keyframes fade-frames {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0.7;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }
  
        50% {
          transform: scale3d(2.2, 2.2, 1);
        }
  
        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }
  
    $particleBaseSize: 8;
  
    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleBaseSize);
        width: $circleSize + px;
        height: $circleSize + px;
  
        $startPositionY: random(10) + 100;
        $framesName: "move-frames-" + $i;
        $moveDuration: 28000 + random(9000) + ms;
  
        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(37000) + ms;
  
        @keyframes #{$framesName} {
          from {
            transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
          }
  
          to {
            transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
          }
        }
  
        .circle {
          animation-delay: random(4000) + ms;
        }
      }
    }
  }
  
  .message {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    font-family: "Josefin Slab", serif;
    line-height: 27px;
    font-size: 18px;
    text-align: right;
    pointer-events: none;
    animation: message-frames 1.5s ease 5s forwards;
    opacity: 0;
  
    @keyframes message-frames {
      from {
        opacity: 0;
      }
  
      to {
        opacity: 1;
      }
    }
  }

.container {
  position: relative;
  width: 100%;
  height: 100svh;
}
  
.firefly{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  
  &::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  
  &::after{
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
}

$quantity: 100;
// Randomize Fireflies Motion
@for $i from 1 through $quantity {
  $steps: random(12) + 16;
  $rotationSpeed: random(10) + 8s;
  
  .firefly:nth-child(#{$i}) {
    animation-name: move#{$i};
    &::before{
      animation-duration: #{$rotationSpeed};
    }
    &::after {
      animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
      animation-delay: 0ms, random(8000) + 500ms;
    }
  }
  @keyframes move#{$i} {
    @for $step from 0 through $steps {
      #{$step * (100 / $steps)}% {
        transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(random(75) / 100 + .25);
      }
    }
  }
}



@keyframes drift {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw rgb(0, 0, 0);
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw rgb(32, 32, 32);
  }
}